/* --- UNIVERSAL --- */

.block {
  @apply odd:bg-background;
  .container {
    @apply mm:flex-nowrap flex-wrap m-auto;
  }
}
@media (max-width: 800px) {
  .block {
    .container {
      >div, .half, form {
        width: 100% !important;
      }
    }
  }
}


/* ---- HERO ---- */
$icon: '6vw';
$maxicon: '80px';


#hero {
  @apply bg-background max-h-[90vh] flex items-center -mx-60 px-60 relative;
  border-bottom-left-radius: 60% 40%;
  border-bottom-right-radius: 60% 40%;
  .container {
    @apply flex relative flex-wrap md:mt-10 mt-5;
    &.has-squig {
      @apply pb-40 sm:pb-20 md:pb-40;
    }
    .copy {
      @apply order-1 flex flex-col justify-center flex-wrap sm:w-1/2 w-full;
    }
    .visuals {
      @apply relative;

      .squiggly {
        @apply 
        transition-all cursor-pointer absolute -rotate-12
        w-2/3 min-w-[200px] -translate-x-1/2 left-1/2 top-[180px]
        sm:top-1/3 sm:left-auto sm:right-0 sm:w-1/4 sm:translate-x-0;
        svg path {
          fill: var(--squiggly-color);
        }
        &:hover {
          @apply scale-105;
        }
        #squiggly {
          @apply h-full;
        }
        .text {
          @apply top-[17%] left-0 absolute w-full h-[70%] text-40 uppercase text-tertiary;
          .curved {
            @apply font-futura font-bold fill-tertiary opacity-60;
            .up {
              @apply tracking-normal;
            }
            .down {
              @apply tracking-[10px];
            }
          }
          .main {
            @apply absolute top-[45%] left-1/2 -translate-x-1/2 -translate-y-1/2 lowercase font-aktiv font-extrabold text-20 sm:text-[3vw] lg:text-[50px];
          }
        }
        
      }

      &.logo {
        @apply w-full items-center justify-center;
        img {
          @apply w-full sm:w-4/5 mr-auto;
        }
      }
      &.multiple,
      &.icon {
        @apply object-contain;
      }
      &.icon {
        @apply col-span-1 rounded-xxl p-2 z-10 min-w-14 min-h-14;
        height: #{$icon};
        width: #{$icon};
        max-width: #{$maxicon};
        max-height: #{$maxicon};
        &:first-of-type {
          @apply justify-self-start -ml-[25%];
        }
        &:last-of-type {
          @apply justify-self-end -mr-[25%];
        }
      }

      &.full {
        @apply w-1/5 order-2 m-auto sm:ml-auto max-w-200;
      }

      .multiple {
        @apply col-span-3 shadow-2 rounded-xxl;
        &:first-of-type {
          @apply order-1;
        }
        &:last-of-type {
          @apply order-3;
        }
      }
    }
  }

  .scroll-arrow {
    @apply p-5 text-16 bg-white rounded-full absolute left-1/2 -translate-x-1/2 translate-y-1/2 bottom-0
    font-awesome;
  }
}

/* --- HALFSIES --- */

#halfsies {
  .container {
    /* Base */
    @apply flex gap-20 relative;
    .half {
      @apply w-1/2;
      &.copy {
        @apply flex flex-col gap-5 order-2 md:-order-none;
      }
      &.image {
        @apply order-1 md:order-none;
      }
    }
    &.right {
      @apply flex-row-reverse;
    }

    /* Image Half */
    .image img {
      @apply aspect-square w-full relative m-auto object-cover;
    }

    /* Columns Half */
    .columns {
      @apply flex gap-5 md:flex-row flex-col;
      h1 {
        @apply text-14 font-poppins;
      }
      p {
        @apply text-white;
      }

      .column {
        @apply md:w-1/3 w-full rounded-xxl p-5 flex flex-col items-center text-white;
      }
    }
    
    /* Featurettes Half */
    .linked_featurettes {
      @apply flex flex-col gap-10;
      .featurette {
        @apply flex w-full gap-5 md:gap-10 md:even:pl-1/10;
        .icon {
          @apply bg-opacity-50 rounded-xxl max-h-16 max-w-16 md:max-w-100 md:max-h-100;
          img {
            @apply translate-x-1/10 -translate-y-1/10;
          }
        }
      }
    }
  }
}

/* --- GRID --- */
#grid {
  .grid {
    @apply w-full text-left min-w-0;

    .caption {
      @apply sr-only;
    }

    /* ROWS */
    .row {
      @apply gap-3 md:gap-4;
      display: grid;
      @apply [grid-template-columns:repeat(auto-fit,minmax(8rem,1fr))];
    }

    .cell { 
      &.is-long {
        @apply col-span-3;
      }
    }

    /* HEADER */
    .header {
      @apply bg-secondary text-white rounded-lg transition-all md:opacity-100 opacity-0;
      .row {
        @apply p-3 md:p-4;
      }
      .cell {
        @apply font-semibold tracking-wide uppercase text-xs md:text-sm;
      }
    }

    /* BODY */
    .body {
      @apply w-full rounded-lg;
      .row {
        @apply p-4 md:p-3 rounded-lg my-2 bg-background;
        .cell {
          &:nth-child(1) {
            @apply font-semibold text-secondary sm:col-span-2 md:col-span-1 text-[12px] sm:text-[14px];
          }
          &:nth-child(2) {
            @apply rounded-full bg-primary text-white inline-block md:mr-auto mb-auto py-1 px-2
            uppercase text-[10px] sm:text-[12px] tracking-wider md:ml-0 ml-auto;
          }
        }
      }
      .cell {
        @apply text-sm md:text-base leading-relaxed break-words; 
      }
    }

    .header + .body { 
      @apply mt-2 md:mt-3;
    }
  }
}

// @layer utilities {
//   @media (min-width: 768px) {
//     #grid .grid .row {
//       /* Uses the PHP-provided --cols; falls back to 3 if unset */
//       grid-template-columns: repeat(var(--cols, 3), minmax(10rem, 1fr));
//     }
//   }
// }



/* --- CONTACT --- */
#contact {
  @apply bg-white mx-5 md:mx-10;
  .typo-p {
    @apply m-0;
  }
  .container {
    @apply bg-primary max-w-subscreen rounded-xxl flex gap-10 md:gap-20 p-8 md:p-16 items-center text-white;
    form, >div {
      @apply w-1/2 flex flex-col gap-5 justify-center;
    }
    form {
      >*:not(div), input {
        @apply p-3 rounded-md;
      }
    }
    input {
      @apply w-full;
    }
    form textarea {
      @apply pb-8 resize-y overflow-hidden;
    }
    .pill {
      @apply -mt-10 inline-block m-auto hover:bg-white rounded-full mm:w-[inherit];
    }
    .name-email {
      @apply sm:flex-nowrap flex-wrap;
      input {
        @apply sm:w-1/2 w-full;
      }
    }
  }
  #loadingIcon {
    @apply stroke-[5] stroke-primary max-w-12;
    stroke-linecap: round;
  }
  .success {
    @apply font-medium text-12;
  }
}